.arrival__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrival__inner {
  padding: 110px 0;
}
.arrival__row{
  width: 100%;
  margin: 0 -25px;
}
.arrival__margin{
  padding:15px;
}
.arrival__item {
  display: flex;
  flex-direction: column;
}
.arrival__watch-name,.arrival__watch-price{
  font-family: 'Playfair Display';
  font-style: normal;
  text-align: left;
  color: white;
} 
.arrival__watch-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 25px 0 10px;
}
.arrival__watch-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}
.arrival__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-color: #191b1c;
}
.arrival__watch{
  max-width:80%;
}


/*MEDIA
=======================================*/
@media screen and (max-width: 1024px) {
  .arrival__title {
    margin-top: 50px;
    font-size: 25px;
  }
  .arrival__line {
    margin: 30px 0;
  }
  .col-3 {
    width: 100%;
  }
  .arrival__link {
    padding: 40px 30px;
  }
  .watch-img {
    max-width: 200px;
  }
  .arrival__item {
    justify-content: center;
    align-items: center;
  }
  .arrival__watch-price {
    margin-bottom: 30px;
  }
  .arrival-row {
    padding-bottom: 50px;
  }
}
