.brand__background {
  background-color: #151515;
}
.brand__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.brand__title {
  margin-top: 60px;
}
.brand__line {
  margin-top: 40px;
}
.brand__row {
  margin: 40px 0 80px 0;
  display: flex;
  flex-wrap: wrap;
}
.brand .col-3 {
  width: 25%;
}
.brand__item {
  margin:0 15px;
}



/*MEDIA
=======================================*/
@media screen and (max-width:1024px){
  .brand__title{
    margin-top: 50px;
  }
  .brand__line{
    margin-top: 30px;
  }
  .brand__row{
    margin-top: 30px;
  }
  .brand__row .col-3{
    width: 100%;
  }
  .brand__item{
    padding: 0 25px;
  }
}