.brand{
  background-color: #151515;
}
.brand__inner {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}
.brand__row{
  margin: 0 -15px;
}
.brand__margin {
  padding:0 15px;
}

/*MEDIA
=======================================*/
@media screen and (max-width: 1024px) {
  .brand__title {
    margin-top: 50px;
  }
  .brand__line {
    margin-top: 30px;
  }
  .brand__row {
    margin: 30px 0 30px 0;
  }
  .brand__row .col-3 {
    width: 100%;
  }
  .brand__item {
    padding: 0 25px;
  }
}
