@import "./header.css";
@import "./hero.css";
@import "./saison.css";
@import "./collection.css";
@import "./arrival.css";
@import "./brand.css";
@import "./footer.css";
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Playfair+Display:wght@400;500;600;700&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: black;
}
.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.333%;
}
.col-5{
  width: 41.666%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.3%;
}
.col-12{
  width: 100%;
}
.btn {
  display: inline-block;
  border: 1px solid white;
  padding: 15px 30px;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
  transition: all 0.7s;
}
.btn:hover {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.2);
}
.row{
  display: flex;
  flex-wrap: wrap;

}
.section__title{
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.section__line {
  width: 120px;
  height: 1px;
  background-color: white;
  margin: 40px auto;
}

/*MEDIA
=============================================*/
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 25px;
  }
  .col-6{
    width: 100%;
  }
  .col-5{
    width: 100%;
  }
  .col-7{
    width: 100%;
  }
  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  .section__line{
    margin: 25px auto;
  }
  .section__title{
    font-size: 28px;
  }
}
